<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask MySQL App</title>
</head>
<body>
    <h1>Items</h1>
    <ul>
        {% for item in items %}
            <li>{{ item.name }}</li>
        {% endfor %}
    </ul>
    <form action="/add" method="post">
        <label for="name">Add Item:</label>
        <input type="text" name="name" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>

